pkgbase = holo-build
	pkgdesc = Cross-distribution system package compiler
	pkgver = 1.0beta.1
	pkgrel = 1
	url = http://holocm.org
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = go
	makedepends = perl
	depends = fakeroot
	depends = pacman
	source = https://github.com/holocm/holo-build/releases/download/v1.0-beta.1/holo-build-1.0-beta.1.tar.gz
	md5sums = 225263a02ef4dc29fa4faf7a7eb62e8b

pkgname = holo-build

