pkgbase = jack-autoplug
	pkgdesc = Ensures that certain JACK ports are always connected to each other
	pkgver = 1.0.0
	pkgrel = 2
	url = https://github.com/majewsky/jack-autoplug
	arch = x86_64
	license = AGPL3
	makedepends = rust
	depends = jack
	source = https://github.com/majewsky/jack-autoplug/archive/v1.0.0.tar.gz
	sha256sums = 8ed8bb5b374db3fb7b52b59cf4fc186253455f1c2bd7ce5e220fca142e7a6617

pkgname = jack-autoplug
