[submodule "package-query"]
	path = package-query
	url = https://aur4.archlinux.org/package-query.git/
[submodule "yaourt"]
	path = yaourt
	url = https://aur4.archlinux.org/yaourt.git/
[submodule "ripit"]
	path = ripit
	url = https://aur4.archlinux.org/ripit.git/
[submodule "perl-mp3-tag"]
	path = perl-mp3-tag
	url = https://aur4.archlinux.org/perl-mp3-tag.git/
[submodule "screen-message"]
	path = screen-message
	url = https://aur4.archlinux.org/screen-message.git/
[submodule "vimprobable2"]
	path = vimprobable2
	url = https://aur4.archlinux.org/vimprobable2.git/
[submodule "broadcom-wl-dkms"]
	path = broadcom-wl-dkms
	url = https://aur4.archlinux.org/broadcom-wl-dkms.git/
[submodule "gnaural"]
	path = gnaural
	url = https://aur4.archlinux.org/gnaural.git
[submodule "gnaural-presets"]
	path = gnaural-presets
	url = https://aur4.archlinux.org/gnaural-presets.git
[submodule "ttf-montserrat"]
	path = ttf-montserrat
	url = https://aur.archlinux.org/ttf-montserrat.git/
[submodule "gogs"]
	path = gogs
	url = https://aur.archlinux.org/gogs.git
