# hologram-damogran-dyndns
export GANDI_APIKEY="Phezah0Ueh4kuB2tohxahn"

# holodeck-damogran: network configuration
export DAMOGRAN_IFACE_LAN="eth0"
export DAMOGRAN_IFACE_WLAN="wlan0"
export DAMOGRAN_IFACE_WAN="eth1"
export DAMOGRAN_WLAN_SSID="foo"
export DAMOGRAN_WLAN_PSK="bar"

# holodeck-damogran: UUID of root partition
# (as found by `blkid -s PARTUUID -o value /dev/sdXY`)
export DAMOGRAN_ROOT_PARTUUID="8042b4d0-b9e5-4e34-8cf8-9fa25de1d512"

# holodeck-damogran contains nginx configuration for a person domain
export DAMOGRAN_HTTP_PRIVATE_DOMAIN="example.org"

# holodeck-arcturus: UUID of root partition
# (as found by `blkid -s PARTUUID -o value /dev/sdXY`)
export ARCTURUS_ROOT_PARTUUID="8042b4d0-b9e5-4e34-8cf8-9fa25de1d512"

# holodeck-arcturus: network configuration
export ARCTURUS_IFACE_WLAN="wlan0"

# public key material (to establish basic trust between hosts)
read -r -d '' AUTHORIZED_KEYS <<-'EOF' || true
ssh-rsa ...
ssh-rsa ...
EOF
export AUTHORIZED_KEYS
