[package]
name        = "hologram-uefi-bootloader"
version     = "1.3.0"
description = "hologram: UEFI bootloader using systemd-boot"

requires    = [
    "systemd", # for bootctl
    "device-mapper",
    "secrets", # this uses /usr/bin/replicator
]

[[action]]
on     = "setup"
script = '''
    echo 'If this package is installed for the first time, run `bootctl install`.'
'''

[[file]]
path    = "/boot/loader/loader.conf"
content = """
    default arch
    timeout 1
"""

[[file]]
path    = "/boot/loader/entries/arch.conf"
content = """
    title     Arch Linux
    linux     /vmlinuz-linux
    initrd    /initramfs-linux.img
    options   root=UUID={{.root_disk_uuid}} rw
"""

# This interpolation happens very late because other holograms might want to
# replace the variable usage in `root=...` when rewriting the bootloader entry.
# See e.g. hologram-uefi-bootloader-with-luks.
[[symlink]]
path   = "/usr/share/holo/files/99-variables/boot/loader/entries/arch.conf.holoscript"
target = "/usr/bin/replicator"
