[package]
name        = "hologram-games"
version     = "1.1.0"
description = "hologram: games selection"

requires = [
    # for Minecraft
    "jre7-openjdk",
    # Steam and support libraries
    "steam",
    "lib32-alsa-plugins",
    "lib32-libpulse",
    # assorted games
    "hedgewars",
    "openttd",
    "openttd-opengfx",
    "openttd-opensfx",
]

# enable gamepad emulation for Steam controller; source:
# https://steamcommunity.com/app/353370/discussions/0/490123197956024380/

[[file]]
path = "/etc/udev/rules.d/81-steam-controller.rules"
content = """
    KERNEL=="uinput", MODE="0660", GROUP="users", OPTIONS+="static_node=uinput"
"""
