[package]
name        = "hologram-base-gui"
version     = "1.3.1"
description = "hologram: base GUI installation"

requires = [
    "hologram-base-gui-minimal",
    "hologram-multimedia-base",
    # assorted GUI apps
    "mesa-demos",
    "mumble",
    "paprefs",
    "pavucontrol",
    "pidgin-otr", # includes pidgin
    "tk", # for gitk and git-gui
    "vlc",
    # font packages
    "cantarell-fonts",
    "otf-titillium",
    "ttf-freefont",
    "ttf-linux-libertine",
    "ttf-montserrat",
    "ttf-ubuntu-font-family",
]

[[file]]
path = "/usr/bin/munin-for"
mode = "0755"
contentFrom = "src/munin-for"

[[file]]
path = "/usr/lib/nightwatch"
mode = "0755"
contentFrom = "src/nightwatch.sh"

[[file]]
path    = "/usr/lib/systemd/system/nightwatch.service"
content = '''
    [Unit]
    Description=Force user to go to bed

    [Service]
    ExecStart=/usr/lib/nightwatch
    Restart=always

    [Install]
    WantedBy=multi-user.target
'''

[[symlink]]
path   = "/etc/systemd/system/multi-user.target.wants/nightwatch.service"
target = "/usr/lib/systemd/system/nightwatch.service"
