pkgbase = art
	pkgdesc = Builds Arch Linux package repositories
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/majewsky/art
	arch = i686
	arch = x86_64
	license = GPL-3.0-only
	makedepends = go
	depends = pacman
	optdepends = holo-build: to build packages from *.pkg.toml files
	options = !strip
	source = https://github.com/majewsky/art/archive/v2.1.0.tar.gz
	sha256sums = 6a635abb4c28bfa16c6e81c61b025f04aecb2b5d81646e40057662b6fe200d4c

pkgname = art
