pkgbase = prometheus
	pkgdesc = An open-source service monitoring system and time series database.
	pkgver = 2.2.1
	pkgrel = 1
	url = http://prometheus.io
	install = prometheus.install
	arch = i686
	arch = x86_64
	license = APACHE
	makedepends = go
	makedepends = git
	depends = glibc
	backup = etc/prometheus/prometheus.yml
	source = https://github.com/prometheus/prometheus/archive/v2.2.1.tar.gz
	source = prometheus.service
	sha256sums = 4f75427449bb72d1886f6cd46f752fe6300242da48b8bb870dbbd7ffc879ed92
	sha256sums = c38a5ea7b0fbab32d391102a915b73bad98eabf7e18dab3c4c3945f46951c203

pkgname = prometheus

