pkgbase = holo
	pkgdesc = Minimalistic configuration management
	pkgver = 1.0beta.1
	pkgrel = 2
	url = http://holocm.org
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = go
	makedepends = perl
	depends = git
	provides = holo-files=1.0beta.1
	provides = HOLO_API_VERSION=1
	source = https://github.com/holocm/holo/archive/v1.0-beta.1.tar.gz
	md5sums = de5e7ee9e4a53ac4a5cf0706bec83e74

pkgname = holo

