pkgbase = gofu
	pkgdesc = Collection of Go utilities
	pkgver = 20181222.2.gef84ca3e82
	pkgrel = 1
	epoch = 1
	url = https://github.com/majewsky/gofu
	arch = x86_64
	license = GPL3
	makedepends = go
	source = gofu::git+https://github.com/majewsky/gofu#commit=ef84ca3e82f422118c69a0c562433c185e1dcb9b
	sha256sums = SKIP

pkgname = gofu

